[user]
	email = m.othacehe@gmail.com
	name = Mathieu Othacehe

[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = m.othacehe@gmail.com
	smtpServerPort = 587
[color]
	ui = auto
